body, html{
  height:100%;
}
body{
/*  margin: 0px;*/
/*  background-color:#444;*/
  background-image:url(court.png);
  background-repeat:no-repeat;
  background-size:contain;
/*  font-size: 18px;*/
}
body, a:link, a:visited, a:active{
  color: navy;
}
.title{
  padding:10px 20px;
  float:right;
}
.addDancerButton{
  padding:10px 20px;
  float:right;
  background-color: lightblue
}
.topbar{
  height:40px;
  background-color: navy;
}

.blinky{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}

.bouncy{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.slidy{
  border:10px solid white;
  border-radius:10px;
  position:absolute;
}