body, html{
  height:100%;
}
body{
/*  margin: 0px;*/
/*  background-color:#444;*/
  background-image:url(../hrsf95-subclass-dance-party/pictures/court.png);
  background-repeat:no-repeat;
  background-size:cover;
  /*position:fixed;*/
/*  font-size: 18px;*/
}
body, a:link, a:visited, a:active{
  color: navy;
}
.title{
  padding:10px 20px;
/*  float:right;*/

}
.addDancerButton{
  padding:10px 20px;
  float:right;
  background-color: lightblue
}
.lineUp{
  padding:10px 20px;
  float:right;
  background-color: lightblue
}
.pyTheorem{
  padding:10px 20px;
  float:right;
  background-color: lightblue
}
.topbar{
  height:40px;
  background-color: navy;
}

.lebron{
  /*border:10px solid blue;
  border-radius:10px;*/
  position:absolute;
  content: url(../hrsf95-subclass-dance-party/pictures/lebron.gif);
  width: 200px;
  height: 250px;
}

.kevin{
  /*border:10px solid red;
  border-radius:10px;
  position:absolute;*/
  position:absolute;
  content: url(../hrsf95-subclass-dance-party/pictures/kevin.gif);
  width: 200px;
  height: 200px;
}

.steph{
  /*border:10px solid white;
  border-radius:10px;
  position:absolute;*/
  position:absolute;
  content: url(../hrsf95-subclass-dance-party/pictures/steph.gif);
  width: 200px;
  height: 200px;
}

.spin{
  -webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

